.stickyHeader {
  background-color: transparent;
  width: 100%;
  height: 128px;
}

.headerContent {
  margin-left: 5%;
  display: flex;
}

.linkTitle {
  text-decoration: none;
  color: whitesmoke;
  margin-top: 32px;
  font-weight: 700;
  font-size: 48px;
}

.navLinks {
  margin-top: 51px;
}

.link {
  font-weight: 500;
  font-size: 28;
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
  margin-left: 23px;
}

.nba {
  margin-left: 50px;
}

.dropdown, .dropdown[data-focus="true"] {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}


.dropdownTrigger, .dropdownTrigger[data-focus="true"] {
  margin-left: 23px;
  background-color: inherit;
  border: none !important; /* Remove border */
  outline: none !important;
  box-shadow: none !important;
  color: white; /* White text */
  text-align: center; /* Centered text */
  text-decoration: none; /* Remove underline */
  display: inline-block;
  cursor: pointer;
}

.dropdownTrigger:focus {
  outline: none; /* Remove default outline */
}

.dropdownTrigger *:focus {
  outline: none; /* Remove outline from any focused child elements */
}

.dropdownMenu {
  background-color: #0A0D14;
  padding: 7px;
  border-radius: 10px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.dropdownItem {
  margin-top: 2px;
  text-align: center;
  border: none !important; /* Remove border */
  outline: none !important;
  box-shadow: none !important;
  font-weight: 500;
  font-size: 28;
  cursor: pointer;
  text-decoration: none;
  color: whitesmoke;
  list-style-type: none;
}

.dropdownLink {
  color: inherit;
  text-decoration: none;
}

.horizontalLine {
  height: 2px;
  border-color: #0ADFB9;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 10px;
}
