/* Default styles */
.stickyHeader {
  background-color: transparent;
  width: 100%;
  height: 128px;
  overflow: hidden; /* Prevent vertical overflow */
}

.headerContent {

  margin: 1.75rem;
  margin-top: 1.0rem;
  
}

.linkTitle {
  text-decoration: none;
  color: whitesmoke;
  margin-top: 32px;
  font-weight: 700;
  font-size: 48px; /* Ensure units are specified */
}

.navLinks {
  display: flex; /* Align items horizontally */
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping */
  height: 50px; /* Fixed height for the navbar */

  align-items: center; /* Center items vertically */

}

.navLinks::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}

/* Hide scrollbar for Firefox */
.navLinks {
  scrollbar-width: none; /* Hides the scrollbar */
}

/* Hide scrollbar for IE and Edge */
.navLinks {
  -ms-overflow-style: none; /* Hides the scrollbar */
}



.link {
  font-weight: 500;
  font-size: 20px; /* Font size with units */
  cursor: pointer;
  text-decoration: none;
  color: hsl(0, 0%, 96%);
  margin-right: 20px;
  white-space: nowrap; /* Prevent wrapping */
}

.link:hover {
  color: #0ADFB9;
  border-bottom: solid 2px #0ADFB9;
  transition: all 0.5s;
}

.horizontalLine {
  height: 2px;
  border-color: #0ADFB9;
  
  
}

