.propContainer {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  width: 100%;
  padding-bottom: 5px;
  border-bottom: 2px solid #0ADFB9;

}

.picNameContainer {
  grid-template-columns: 1fr 2fr;
  align-items: center;
}
.player {
  margin-right: 20px;
}
@media (max-width: 870px) {
  
}


