.faqContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90px;
  cursor: pointer;
}

.flipCard {
  width: 100%;
  
}

.flipCardInner {
  position: relative;
  backface-visibility: hidden;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;

}

.flipCardBack, .flipCardFront {
  position: absolute;
  width: 100%;
  height: 100%;

  padding-top: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
}

.flipCardBack {
  transform: rotateY(180deg);
  backface-visibility: hidden;
}