.infoCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border: 5px solid #0ADFB9;
  border-radius: 20px;
  width: 67vw;
  padding:10px;
}