

.subHead {
  color:#0ADFB9
}
.header1 {
  padding: 0px;
  font-size: 72px;
  margin: 0;
}

.makeSmarterBetsDiv {
  margin-top: 100px;
  margin-left: 10%;
  width: 633px;
}

.underline {
  position: relative;
}

.underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
  background-color: #0ADFB9;
}


.infoCardsContainer {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  width: 100%;

 
}

.infoCard1, .infoCard3 {
  margin-left: 10.1%;
}

.infoCard2, .infoCard4 {
  margin-left: 25%;
}

.ladder1, .ladder2 {
  width: 20%;
  border-left: 5px solid #0ADFB9;
  border-right: 5px solid #0ADFB9;
  border-top: none;
  border-bottom: none;
  height: 50px;
}

.ladder1 {
  margin-left: 38.33%;
}

.ladder2 {
  margin-left: 48.33%;
}

.offersContainer {
  background-color: #0ADFB9;

  width: 100%;
  display: flex;
  flex-direction: column;
}

.offersContainer {
  flex-direction: column;
}



.faqTitle {
  width: 100%;
  font-size: 36px;
  font-weight: 700;
}

.faqLine {
  margin-top: 10px;
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
}

