@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: #0A0D14;
  --font-size-base: 16px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-inter);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  background-color: #12151A;
  color: white;
  font-size: var(--font-size-base);
  max-width: 100vw;
  overflow-x: hidden;
}

html:focus, body:focus, *:focus {
  outline: none;
}

.nextui-button:focus,
button[class*="nextui-button-"]:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}