.offerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: black;
  font-weight: 500;
  border: 3px solid black;
  border-radius: 20px;
  width: 24.827vw;

  padding: 10px 5px
}
